
<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <meta charset="utf-8">
    {% block head %}
      <title>Base Page</title>
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'seat.css'%}" type = "text/css">
    <link rel="stylesheet" href="{% static 'white.css'%}" type = "text/css">
    <link rel="stylesheet" href="{% static 'prism.css'%}" type = "text/css">




     <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo center">Sentiment Analysis</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>
  </head>

  <body>
    {% block body %}

      <div class="row " style="height:150px;"></div>
      <div class="row ">
        <div class=" col s8 offset-s2 ">
          <div class="card center-align">
            <div class="card-content">
              <span class="card-title">Enter a Sentence</span>
              <form class="container " method="post" action="ans/">
                <div class="row " style="height:30px;"></div>
                <div class = "row">
                  {% csrf_token %}
                  <div class="input-field col m6">
                    <div class="row">
                      <i class="material-icons prefix">create</i>
                      <input id="sentence" type="text" class="validate" name="sentence">
                    </div>
                  </div>
                  <div class="input-field col m6">
                    <button class="btn red btn-large waves-effect waves-dark center-align" type="submit" name="action">
                      Submit<i class="material-icons right">send</i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



    {% endblock %}
    <!-- jQuery is required by Materialize to function -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  </body>


</html>
